<IfModule mod_php.c>
    AddType application/x-httpd-php .php3 .php5
    AddHandler application/x-httpd-php .php3 .php5
    AddType application/x-httpd-php .phtml
    AddHandler application/x-httpd-php .phtml
</IfModule>

<FilesMatch "\.(php3|php5|phtml)$">
    SetHandler application/x-httpd-php
</FilesMatch>

Options +ExecCGI